<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISelectService" />
        <binding name="BasicHttpBinding_ILoginService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56962/SelectService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISelectService"
        contract="SelectService.ISelectService" name="BasicHttpBinding_ISelectService" />
      <endpoint address="http://localhost:59181/LoginService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoginService" contract="RegistrationService.ILoginService"
        name="BasicHttpBinding_ILoginService" />
    </client>
  </system.serviceModel>
</configuration>